@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(http://themes.googleusercontent.com/static/fonts/merriweather/v4/ZvcMqxEwPfh2qDWBPxn6nnl4twXkwp3_u9ZoePkT564.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(http://themes.googleusercontent.com/static/fonts/merriweather/v4/RFda8w1V0eDZheqfcyQ4EHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

#bingo img {
    max-width:  95px; 
    max-height: 70px;  
    display: block;
    margin: auto;
}

/*#conference {
  background-color: #0e3d2d;
  color:white;
  border: 2px solid black;
}*/
#conference {
    cursor: pointer;
    font-weight: bold;
    color: white;
    margin-left: 6px;
    margin-right: 2px;
    text-decoration: none;
    padding: 2px;
    text-align: center;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-left: 2px solid #164f3b;
    border-right: 2px solid #0e3d2d;
    border-top: 2px solid #15543e;
    border-bottom: 2px solid #0e3d2d;
    background-color: #144c39;
    background: #13575b;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1B676B', endColorstr='#0c4649',GradientType=0 );
    top: 1px;
position: relative;
}


#sortButtons { overflow:auto;display:visible }

.sortButton {
cursor: pointer;
font-weight: bold;
text-shadow: black 1px 1px 1px;
color: white;
margin-left: 6px;
margin-right: 2px;
text-decoration: none;
padding: 4px 18px;
text-align: center;
-moz-border-radius: 15px;
border-radius: 15px;
border-left: 2px solid #164f3b;
border-right: 2px solid #0e3d2d;
border-top: 2px solid #15543e;
border-bottom: 2px solid #0e3d2d;
background-color: #144c39;
background: -moz-linear-gradient(top, #1B676B 0%, #0c4649 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1B676B', endColorstr='#0c4649',GradientType=0 );}

.note {
    color: gray;
    font-size: 11px;
    font-style: italic;
    line-height: 12px;
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
}

.italic {
    font-style: italic;
}

#seed {
	height: 26px;
}

#copyToolTip {
	color: #99EDCC;
}

#hintBox {
  position: fixed; 
  left: 0px; 
  bottom: 0px; 
  display:flex;
  pointer-events: none;
}

#koisher {
  display: inline;
  min-width: 200px; 
  width: 15vw;
  align-self: center;
}

.message {
  align-self: center;
  margin: 0px 25px;
  background-color: rgba(156, 82, 139, 0.3);
  border-radius: 25px;
  pointer-events: none;
}

.message-text {
  font-size: 1.5em;
  padding-left: 20px;
  padding-bottom: 65px;
  display: block;
  padding-right: 15px;
}

#koishi-name {
  display:block;
  font-size: 2em;
  color:#99EDCC;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 1600px) {
  #registrationsTable {
    display: none !important;
  }
}